ResponseEntity<eg.mts.gsuif.dto.ApiResponse<{{#vendorExtensions.x-gsuif-payload-java-type}}{{{vendorExtensions.x-gsuif-payload-java-type}}}{{/vendorExtensions.x-gsuif-payload-java-type}}{{^vendorExtensions.x-gsuif-payload-java-type}}{{>returnTypes}}{{/vendorExtensions.x-gsuif-payload-java-type}}>>
